:root {
    --papel: #FAF8FF;
    --tinta: #1F1B3A;
    --destaque: #5B4BDB;
    --suave: #E6E1F7;
    --linha: #D5CFEF;
}

body {
    text-align: center;
    font-family: "Nunito", sans-serif;
    background-color: #fffcf5;
}

h1{
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 800;
    color: var(--destaque);
}

h3 {

    margin-top: 2px;
    font-size: 1.3rem;
    font-weight: 800;
}

p {
   
    font-size: 1.05rem;
        
}


img {

    margin-top: 50px;
    width: 180px;
    height: 180px;
    border: 20px solid var(--destaque);
    border-radius: 90%;
    object-fit: cover;
    
}


.texto_p {
    width: 60%;
    margin: 30px auto 0;
    padding: 25px;
    background-color: #ffffff;
    border: 6px solid var(--linha);
    border-radius: 15px;
}

.barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #FFFFFF;
    border-bottom: 6px solid var(--linha);
}


.barra a {
    display: inline-block;
    padding: 10px 18px;
    color: var(--destaque);
    background-color: #FFFFFF;
    border: 2px solid var(--destaque);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
    transition: 0.2s;
}

.barra a:hover {
    background-color: var(--destaque);
    color: #FFFFFF;
}